<!-- Uporabljamo kadar imamo še vsaj eno zunanje pakiranje (paleta) -->
<li class="list-group-item list-group-item-action mb-2">
    <div class="card border-secondary">
        <div class="card-body">
            <h4 class="card-title">Vsebina Zunanje pakiranje $%PackageSID%$ (UID: $%PackageUID%$)</h4>
            <div class="card bg-light">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        $%Products%$
                    </ul>
                </div>
            </div>
            <div class="mt-2"><small>Skupaj Artikel: $%NumberOfProducts%$</small></div>
        </div>
    </div>
</li>