<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--<add key="ServerTag" value="http://otp.bovianplus.si"/>-->
		<add key="ServerTag" value="http://192.168.20.54:93/api/" />

		<!--<add key="ScheduleMode" value="Dnevno"/>-->
		<add key="ScheduleMode" value="Dnevno" />
		<add key="IntervalMin" value="3" />
		<add key="ScheduledTime" value="12:59" />
		<add key="EnableLogging" value="true" />
	</appSettings>
</configuration>